<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title"> 错误码</div>
                </header>
                <div class="card-body">
                    {{range .}}
                        <p>
                            <code>{{.Code}}</code> {{.Message}}
                        <hr>
                        </p>
                    {{end}}
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
